@*@model IEnumerable<Day1Homework.Models.AccountBookBO>*@
@model Day1Homework.ViewModels.Home.MoneyDetailViewModel
@{
    Layout = null;
}

@Model.PageInformation
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
                <th>更新日期</th>
            </tr>
            @{
                int i = Model.MoneyDetailForPartialView.Count();
                foreach (var item in Model.MoneyDetailForPartialView)
                {
                    <tr>
                        <td> @(i--) </td>
                        <td>
                            <span class="@ColumnColor.CategoryFontColor(item.Category)"> @item.Category </span>
                        </td>
                        <td> @item.RecordDate.ToString("yyyy-MM-dd") </td>
                        <td> @item.Amount.ToString("###,###") </td>
                        <td> @item.Updatetime </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

